@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: var(--violet);
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: 95rem;
  background-position: bottom;
  font-size: 1.1rem;
}

header {
  padding: 2.5rem;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 4rem 3rem;
}

.content-heading {
  margin-top: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.content-text {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 4.5rem;
  background-color: #fff;
  color: var(--violet);
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
  margin-bottom: 7rem;
}

.icons {
  display: flex;
  justify-content: flex-end;
  padding: 2.5rem;
  gap: 2rem;
}

.icon {
  width: 2.2rem;
  height: 2.2rem;
}

@media (max-width: 1320px) {
  body {
    background-position: bottom;
    background-size: 90rem;
  }

  .section-content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .icons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .section-content {
    justify-items: center;
  }

  .btn {
    margin-bottom: 0rem;
  }

  img {
    width: 35rem;
  }
}
