@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --cyan-2: hsla(179, 62%, 43%, 0.884);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Karla, "sans-serif";
  font-size: 1rem;
  background-color: var(--light-gray);
  color: #fff;
}

.section-componet {
  padding: 2rem;
  margin: 0 auto;
}

.container {
  background-color: #fff;
  border-radius: 6px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.community {
  padding: 2rem 1rem;
}

.heading {
  color: var(--cyan);
  margin-bottom: 1rem;
}

.community-title {
  color: var(--bright-yellow);
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.community-text {
  color: var(--grayish-blue);
  line-height: 1.5;
}

.subscription {
  background-color: var(--cyan);
  padding: 2rem 1rem;
}

.heading-secondary {
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.subscription-price {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 1rem;
}

.subscription-price span {
  font-size: 1rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

.subscription-text {
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.8);
}

.btn-sign-up:link,
.btn-sign-up:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 1rem 2rem;
  width: 100%;
  background-color: var(--bright-yellow);
  border-radius: 6px;
}

.why {
  background-color: var(--cyan-2);
  padding: 2rem 1rem;
}

.why-text {
  color: rgba(255, 255, 255, 0.65);
  line-height: 1.5;
  margin-right: 5.4rem;
}
