@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap");

/* GLOBALS */
:root {
  --clr-green: hsl(150, 100%, 63%);
  --clr-purple-900: hsl(273, 85%, 13%);
  --clr-purple-500: hsl(271, 12%, 34%);
  --clr-purple-100: hsl(276, 100%, 99%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-primary: "Fraunces", serif;
  --ff-secondary: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--clr-white);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: var(--ff-primary);
}

p,
a {
  color: var(--clr-white);
  font-family: var(--ff-secondary);
  line-height: 1.5;
  font-size: 1.6rem;
}

.container {
  width: 80%;
  max-width: 140rem;
  margin: auto;
}

/* GLOBALS END */
/* HEADER */
header {
  background-color: var(--clr-purple-900);
  height: 60rem;
  position: relative;

  background-image: url(img/bg-pattern-1.svg), url(img/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: -10% 50%, 104% 80%;
}

.hero-wave {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.hero-wave svg {
  position: relative;
  display: block;
  width: calc(290% + 1.3px);
  height: 130px;
}

.hero-wave .shape-fill {
  fill: var(--clr-purple-900);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}

.header-nav a {
  transition: color 0.2s ease-in;
}

.header-nav a:hover {
  color: var(--clr-green);
}

.header-underline {
  background-color: var(--clr-green);
  width: 100%;
  height: 3px;
  margin-top: 0.3rem;
}

.header-text {
  margin-top: 10rem;
  text-align: center;
}

.header-text h1 {
  font-size: 7rem;
  font-weight: 600;
  width: 45%;
  margin: 0 auto;
  line-height: 1;
}

.text-underline {
  text-decoration: underline;
  text-decoration-color: var(--clr-green);
}

.header-btn {
  display: block;
  margin: 3rem auto;
  padding: 1.8rem 3.2rem;
  background-color: var(--clr-green);
  border-style: none;
  border: 2px solid transparent;

  font-size: 1.6rem;
  font-weight: 600;

  transition: color 0.2s ease-in;
}

.header-btn:hover {
  cursor: pointer;

  color: var(--clr-green);
  background-color: var(--clr-purple-900);
  border: 2px solid var(--clr-green);
}

.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5rem;
}

.hero-img {
  position: relative;

  width: 60rem;
  min-height: 35rem;

  z-index: 10;
}

section,
.value-box-text {
  color: var(--clr-purple-900);
}

.section-values {
  background-color: var(--clr-purple-100);

  padding-top: 40rem;
}

.values {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
  gap: 2rem;
}

.value-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: 32rem;
}

.value-box-content {
  text-align: center;
}

.value-box-number {
  font-size: 2.8rem;
  margin-bottom: 5rem;

  border: 1px solid var(--clr-purple-900);
  border-radius: 50%;

  width: 5rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.value-box-header {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.value-box-text {
  text-align: center;
  line-height: 2;
}

.values-wave {
  margin-top: -20rem;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.values-wave svg {
  position: relative;
  display: block;
  width: calc(278% + 1.3px);
  height: 145px;
}

.values-wave .shape-fill {
  fill: var(--clr-purple-100);
}

.section-access {
  margin-top: 23.5rem;
}

.founder-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.founder-img {
  width: 47.7rem;
  height: 47.7rem;
  position: absolute;
  top: -40%;
  left: 1%;
  z-index: -1;
}

.cta-card {
  background-color: var(--clr-purple-900);
  color: var(--clr-white);
  width: 73rem;
  height: 41rem;
  margin-left: 42rem;
  position: relative;
}

.cta-card-content {
  padding: 5rem 7.5rem;
}

.cta-header {
  font-size: 5.6rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  line-height: 2;
  font-weight: 100;
}

.cta-btn {
  display: block;
  padding: 1.8rem 3.2rem;
  background-color: var(--clr-green);
  border-style: none;
  border: 2px solid transparent;

  font-size: 1.6rem;
  font-weight: 600;

  transition: color 0.2s ease-in;
}

.cta-btn:hover {
  cursor: pointer;

  color: var(--clr-green);
  background-color: var(--clr-purple-900);
  border: 2px solid var(--clr-green);
}

.founder-circles {
  position: absolute;
  top: 66%;
  left: 57%;
}

/* FOOTER */

footer {
  margin-top: 20rem;
  margin-bottom: 10rem;
}

.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
}

.social-media-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.sm-logo {
  fill: var(--clr-purple-500);
  transition: fill 0.3s ease;
}

.sm-link:hover .sm-logo {
  fill: var(--clr-purple-900);
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  header {
    height: 56rem;
  }

  .hero-wave {
    top: 95%;
  }
  .header-text h1 {
    font-size: 4.5rem;
    font-weight: 600;
  }

  .header-btn {
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
  }

  .hero-img {
    width: 50rem;
    min-height: 30rem;
  }

  .hero-img-box {
    padding-top: 7rem;
  }

  .value-box-number {
    font-size: 2.4rem;
    border-radius: 50%;

    width: 4.5rem;
    height: 4.5rem;
  }

  .value-box-header {
    font-size: 2rem;
  }

  .value-box-text {
    font-size: 1.4rem;
  }

  .founder-img {
    left: -1%;
    width: 35rem;
    height: 35rem;
    top: -35%;
  }

  .cta-card {
    width: 73rem;
    height: 41rem;
    margin-left: 26rem;
  }

  .cta-card-content {
    padding: 3rem 4.5rem;
  }

  .cta-header {
    font-size: 4.6rem;
    margin-bottom: 3rem;
  }

  .cta-text {
    font-size: 1.8rem;
  }

  .cta-btn {
    padding: 1.6rem 3rem;
    font-size: 1.4rem;
  }

  .founder-circles {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 1024px) {
  header {
    background-position: -47% 50%, 116% 80%;
  }

  .header-text h1 {
    font-size: 4rem;
    font-weight: 500;
  }

  .header-btn {
    padding: 1.8rem 2.6rem;
    font-size: 1.6rem;
  }
}
