@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap");

/* GLOBALS */
:root {
  --clr-green: hsl(150, 100%, 63%);
  --clr-purple-900: hsl(273, 85%, 13%);
  --clr-purple-500: hsl(271, 12%, 34%);
  --clr-purple-100: hsl(276, 100%, 99%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-primary: "Fraunces", serif;
  --ff-secondary: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: 1px solid #f00;
  &:hover {
    outline: 2px solid #f00;
  }
}

html {
  font-size: 62.5%;
}
