@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap");

/* GLOBALS */
:root {
  --clr-green: hsl(150, 100%, 63%);
  --clr-purple-900: hsl(273, 85%, 13%);
  --clr-purple-500: hsl(271, 12%, 34%);
  --clr-purple-100: hsl(276, 100%, 99%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-primary: "Fraunces", serif;
  --ff-secondary: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--clr-white);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: var(--ff-primary);
}

p,
a {
  color: var(--clr-white);
  font-family: var(--ff-secondary);
  line-height: 1.5;
  font-size: 1.6rem;
}

.container {
  width: 90%;
  max-width: 140rem;
  margin: auto;
}

/* GLOBALS END */
/* HEADER */
header {
  background-color: var(--clr-purple-900);
  height: 60rem;
  position: relative;

  background-image: url(img/bg-pattern-1.svg), url(img/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: -10% 50%, 104% 80%;
}

.hero-wave {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.hero-wave svg {
  position: relative;
  display: block;
  width: calc(290% + 1.3px);
  height: 130px;
}

.hero-wave .shape-fill {
  fill: var(--clr-purple-900);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}

.header-nav a {
  transition: color 0.2s ease-in;
}

.header-nav a:hover {
  color: var(--clr-green);
}

.header-underline {
  background-color: var(--clr-green);
  width: 100%;
  height: 3px;
  margin-top: 0.3rem;
}

.header-text {
  margin-top: 10rem;
  text-align: center;
}

.header-text h1 {
  font-size: 8rem;
  font-weight: 600;
  width: 45%;
  margin: 0 auto;
  line-height: 1;
}

.text-underline {
  text-decoration: underline;
  text-decoration-color: var(--clr-green);
}

.header-btn {
  display: block;
  margin: 3rem auto;
  padding: 1.8rem 3.2rem;
  background-color: var(--clr-green);
  border-style: none;
  border: 2px solid transparent;

  font-size: 1.6rem;
  font-weight: 600;

  transition: color 0.2s ease-in;
}

.header-btn:hover {
  cursor: pointer;

  color: var(--clr-green);
  background-color: var(--clr-purple-900);
  border: 2px solid var(--clr-green);
}

.hero-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5rem;
}

.hero-img {
  position: relative;

  width: 60rem;
  min-height: 35rem;

  z-index: 10;
}

section,
.value-box-text {
  color: var(--clr-purple-900);
}

.section-values {
  background-color: var(--clr-purple-100);

  padding-top: 40rem;
}

.values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  max-width: 80%;

  margin-bottom: 20rem;
}

.value-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: 32rem;
}

.value-box-number {
  font-size: 2.8rem;
  margin-bottom: 5rem;

  border: 1px solid var(--clr-purple-900);
  border-radius: 50%;

  width: 5rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.value-box-header {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.value-box-text {
  text-align: center;
  line-height: 2;
}
